<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlvaSCH</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="<%- stylesheet %>" />
    <script src="/static/scripts.js"></script>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li class="title"><a  href="/">AlváSCH</a></li>
            <li><a href="/bed">Ágyak</a></li>
            <li><a href="/reservation">Foglalások</a></li>
            <li><a href="/user">Felhasználók</a></li>
            <li class="open-nav"><a id="open-nav-btn">☰</a></li>
        </ul>
    </nav>
    <div class="mobile-nav hidden" id="mobile-nav">
        <ul>
            <li class="close-nav"><a id="close-nav-btn">X</a></li>
            <li><a href="/">AlváSCH</a></li>
            <li><a href="/bed">Ágyak</a></li>
            <li><a href="/reservation">Foglalások</a></li>
            <li><a href="/user">Felhasználók</a></li>
        </ul>
    </div>
    <main>