<%- include("header") %>
      <h1>Foglalás</h1>
      <form style="overflow: auto;" action="/reservation">
      <table id="reservation-edit-table">
        <tbody>
          <tr>
            <td>Szoba</td>
            <td>1316</td>
          </tr>
          <tr>
            <td>Ágy</td>
            <td>bal alsó</td>
          </tr>
          <tr>
            <td><label for="user">Tulajdonos</label></td>
            <td>
              <select name="user" id="user">
                <option value="volvo">Foglaló Félix</option>
                <option value="saab">Bérlő Béla</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="start">Foglalás kezdete</label>
            </td>
            <td><input name="start" id="start" type="datetime-local" /></td>
          </tr>
          <tr>
            <td><label for="end">Foglalás vége</label></td>
            <td><input name="end" id="end" type="datetime-local" /></td>
          </tr>
        </tbody>
      </table>
      <input id="reservation-submit" type="submit" value="Foglalás">
    </form>
<%- include("footer") %>