<%- include("header") %>
      <h1>Felhasználók</h1>
      <table id="user-table">
        <thead>
          <tr>
            <td>Név</td>
            <td>Saját ágy</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fogadó Ferenc</td>
            <td>1316 - bal alsó</td>
          </tr>
          <tr>
            <td>Ágy Áron</td>
            <td>1315 - bal felő</td>
          </tr>
          <tr>
            <td>Alvó Aladár</td>
            <td>1314 - jobb felső</td>
          </tr>
          <tr>
            <td>Szundi Szilárd</td>
            <td>1313 - jobb alsó</td>
          </tr>
        </tbody>
      </table>
<%- include("footer") %>
