form {
  padding-left: 0;
  font-size: 2em;
}

.row {
  display: flex;
  margin-bottom: 0.5em;
}

input,
select,a {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  width: 100%;
  font-size: 1.2em;
}

form a {
  text-align: start;
  margin: initial;
  justify-content: center;
  padding: 0.1em;
  text-decoration: underline;
}

label {
  flex-basis: 300px;
  padding: 0.5em;
  background-color: var(--brand-2);
}
input[type="submit"] {
  background-color: var(--brand-1);
  color: var(--brand-3);
  border: none;
}

.card {
  position: relative;
  /* z-index: -1; */
}
.card .delete-btn {
  position: absolute;
  color: var(--brand-3);
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0.2em;
  top: 0;
  right:0;
  cursor: pointer;
}

.header{
  position: relative;
  margin-bottom: 2em;
}

#new-bed-btn {
  flex-grow: 0;
  flex-shrink:0;
  width: initial;
  display: inline;
  background-color: var(--brand-1);
  color: var(--brand-3);
  position: absolute;
  top:0;
  right: 0;
}