form {
  padding-left: 0;
  font-size: 2em;
}

.row {
  display: flex;
  margin-bottom: 0.5em;
}

input,
select {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  width: 100%;
  font-size: 1.2em;
}

label {
  flex-basis: 300px;
  padding: 0.5em;
  background-color: var(--brand-2);
}
input[type="submit"] {
  background-color: var(--brand-1);
  color: var(--brand-3);
  border: none;
}
