:root {
  --brand-1: black;
  --brand-2: #c4c4c4;
  --brand-3: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: calc(0.7em + 0.3vw);
}

* {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.frozen {
  overflow: hidden;
}

body {
  background-color: var(--brand-3);
  padding: 0;
  margin: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  border: .2em solid black;
}

.nav-bar ul {
  background-color: var(--brand-2);
}

.nav-bar > ul > li + li {
  display: none;
  border-left: .2em solid black;
}

.nav-bar .title {
  align-self: flex-start;
  flex-grow: 1;
}
.nav-bar .title > a {
  text-align: left;
}

.open-nav {
  display: initial !important;
}

@media screen and (min-width: 1024px) {
  .nav-bar > ul > li + li {
    /* border-left: none; */
    display: initial;

  }
  .open-nav {
    display: none;
  }
}

a {
  text-decoration: none;
  padding: 1em 1.5em;
  display: block;
  color: var(--brand-1);
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
}

a:link,
a:visited,
a:active {
  color: var(--brand-1);
}
a:hover {
  background-color: var(--brand-3);
}


.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 80%);
  /* display: none; */
}

.mobile-nav > ul {
  background-color: var(--brand-2);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

.mobile-nav > ul > li + li {
  border-top: .2em solid var(--brand-1);
}

.mobile-nav > ul > li:last-child {
  border-bottom: .2em solid var(--brand-1);
}

.mobile-nav .close-nav {
  border: .2em solid var(--brand-1);
  border-right: none;
}

.close-nav {
  position: absolute;
  top:0;
  right: 0;
}

main {
  padding: 5em 2em;
}

.bed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1em;
}

.card {
  background-color: var(--brand-2);
  /* padding-bottom: 0.5em; */
}

.card > h3{
  background-color: var(--brand-1);
  color: var(--brand-3);
  margin-top: 0;
  padding:0.5em;
}

.card > p {
  margin: 0.5em;
  font-weight: bold;
}
.card > a {
  background-color: var(--brand-1);
  color: var(--brand-3);
  padding: 0.8em 1.5em;
  margin: 1em auto;
  font-weight: bold;
  border: none;
  display: block;
  cursor: pointer;
  width: 80%;
  /* display: inline; */
}

#reservation-table {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  /* overflow: hidden; */
  
}
#reservation-table td {
  padding: 0.5em;
  
}

#reservation-table > thead > tr{
  background-color: var(--brand-2);
  color: var(--brand-1);
}

#reservation-table > tbody > tr:nth-child(odd){
  background-color: var(--brand-1);
  color: var(--brand-3);
}

#reservation-table > tbody > tr:nth-child(even){
  background-color: var(--brand-2);
  color: var(--brand-1);
}

#reservation-table a{
  background-color: inherit;
  color: inherit;
  padding: inherit;
}

#reservation-table-wrap {
  overflow: auto;
}

#reservation-edit-table {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  
}


#reservation-edit-table td {
  padding: 0.5em;
}

#reservation-submit {
  background-color: var(--brand-1);
  color: var(--brand-3);
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  margin: 1em auto;
  display: block;
}